corejava/src/main/java/schema/ASBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ASBO" xmlns:tns="http://www.example.org/ASBO" elementFormDefault="qualified">

    <element name="Object" type="tns:Object"></element>
    
    <complexType name="Object">
    	<sequence>
    		<element name="property" type="tns:Property" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    </complexType>
    
    <complexType name="Property"></complexType>
</schema>